<h1 class="title "style="--top-bar-background: #00848e; --top-bar-background-lighter: #1d9ba4; --top-bar-color: #f9fafb; --p-frame-offset: 0px; padding: 20px; text-align: center; font-family: 'Mochiy Pop P One', sans-serif;">
  <ion-icon name="qr-code-sharp" size="large"></ion-icon> 
  YOUR QRCODE
</h1>
<div class="container">
  <div class="box">
    <article class="message is-info">
      <div class="message-header">
        <p>What is it?</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        Um gerador de QRCODE simples, para te oferecer mais simplicidade sejá para facilitar o pagamento de suas vendas, compartilhar uma rede WIFI, ou até mesmo, divulgar seus meios de comunicação!
      </div>
    </article>
  </div>
</div>
<div class="container" style="padding: 20px 0 0 0">
  <div class="box">
    <%= form_tag :qr_code_download, method: :get do |f| %>
      <div class="field">
        <%= label_tag 'Text or URL', nil, class: "label" %>
        <%= text_field_tag :content, nil, required: true, class: "input is-link is-focused" %>
      </div>

      <div class="actions">
        <%= submit_tag 'Generate QR code', class: "button is-link is-outlined" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="columns" style="padding: 50px 0 0 0;">
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="../../../public/qr_code_download.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>

          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://images.pexels.com/photos/10032377/pexels-photo-10032377.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=700" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">John Smith</p>
              <p class="subtitle is-6">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="../../../public/menu-qrcode.jpeg">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">John Smith</p>
              <p class="subtitle is-6">@johnsmith</p>
            </div>
          </div>

          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>